@media (min-width: 501px) {
  .permissions--body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
  }

  .permissions--container {
    width: 500px;
    overflow: hidden;
    box-shadow: 2px 2px 6px black;
  }



  .permissions--header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 135px;
    padding: 0px 25px;
    background-color: #00FD97;
  }

  .permissions--header-merchant-wrapper {
    display: flex;
    flex-direction: column;
  }

  .permissions--header-id {
    font-family: Verdana;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #212121;
  }

  .permissions--header-merchant-name {
    letter-spacing: 3px;
    font-family: Verdana;
    font-size: 44px;
    font-weight: 800;
  }

  .permissions--header-merchant-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 8px;
    padding: 3px;
  }

  .permissions--header-merchant-image {
    height: 90px;
  }




  .permissions--body-container {
    height: 40vh;
    background-color: #212121;
    padding: 0px 20px;
    overflow-y: scroll;
  }
  .permissions--body-container-mobile {
    flex: 1;
    background-color: #212121;
    padding: 0px 20px;
    overflow-y: scroll;
  }



  .permissions--policy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #444444;
  }

  .permissions--policy-terms-text {
    font-family: Verdana;
    font-size: 0.8vmin;
    letter-spacing: 1px;
    color: #909090;
  }




  .permissions--footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
    background-color: #212121;
  }




  .permissions--line-item-container {
    display: flex;
    align-items: center;
    background-color: #212121;
  }

  .permissions--line-item-image {
    height: 40px;
  }

  .permissions--line-item-request-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px 0px 20px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .permissions--line-item-request-title {
    font-family: Verdana;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #fff;
    margin-bottom: 5px;
  }

  .permissions--line-item-request-response {
    font-family: Verdana;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #545454;
  }

}

@media (max-width: 500px) {
  .permissions--body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
  }

  .permissions--container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }



  .permissions--header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 135px;
    padding: 0px 25px;
    background-color: #00FD97;
  }

  .permissions--header-merchant-wrapper {
    display: flex;
    flex-direction: column;
  }

  .permissions--header-id {
    font-family: Verdana;
    font-size: 2.7vmin;
    color: #212121;
  }

  .permissions--header-merchant-name {
    letter-spacing: 2px;
    font-family: Verdana;
    font-size: 10vmin;
    font-weight: 800;
  }

  .permissions--header-merchant-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 8px;
    padding: 3px;
  }

  .permissions--header-merchant-image {
    height: 20vmin;
  }




  .permissions--body-container {
    flex: 1;
    background-color: #212121;
    padding: 0px 20px;
    overflow-y: scroll;
  }
  .permissions--body-container-mobile {
    /* height: 100%; */
    flex: 1;
    background-color: #212121;
    padding: 0px 20px;
    overflow-y: scroll;
  }




  .permissions--policy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #444444;
  }

  .permissions--policy-terms-text {
    text-align: center;
    font-family: Verdana;
    font-size: 2.5vmin;
    letter-spacing: 1px;
    color: #909090;
  }




  .permissions--footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
    background-color: #212121;
  }




  .permissions--line-item-container {
    display: flex;
    align-items: center;
  }

  .permissions--line-item-image {
    height: 10.5vmin;
  }

  .permissions--line-item-request-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px 0px 20px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .permissions--line-item-request-title {
    font-family: Verdana;
    font-size: 2.8vmin;
    letter-spacing: 1.5px;
    color: #fff;
    margin-bottom: 3px;
  }

  .permissions--line-item-request-response {
    font-family: Verdana;
    font-size: 2.8vmin;
    letter-spacing: 1.5px;
    color: #545454;
  }
  
}